In [2]:
#pandas
pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/cb/e3/c0bc0f1b3835564f69094135de105a3def2eeb2689338a906bfc659c99d0/pandas-1.3.0-cp38-cp38-win_amd64.whl (10.2MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\bhavy\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\bhavy\appdata\roaming\python\python38\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/70/94/784178ca5dd892a98f113cdd923372024dc04b8d40abe77ca76b5fb90ca6/pytz-2021.1-py2.py3-none-any.whl (510kB)
Requirement already satisfied: six>=1.5 in c:\users\bhavy\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.0 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 21.1.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

### Pandas provide a large range of data structures that arre fast and flexible for data analysis
* ### python works for tabular data with heterogeneously-typed-columns as in an sql table or excel spreadsheet
* Ordered and Unordered time series data
* Arbitary Matrix Data(Homogeneously typed or hetergeneous) with row an dcolumn labels
* None of the above
* In pandas for 2D data, data frame is used

In [9]:
# Some Functions of pandas
df=iris.copy()
df.head(3)
df.columns=['s1','sw','p1','pw','flower_type']
print(df.shape)
df.describe()
df.info()
print(df.dtypes)
df.isnull()
df.isnull().sum()#summarise the number of null values in each column

(149, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   s1           149 non-null    float64
 1   sw           149 non-null    float64
 2   p1           149 non-null    float64
 3   pw           149 non-null    float64
 4   flower_type  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB
s1             float64
sw             float64
p1             float64
pw             float64
flower_type     object
dtype: object

s1             0
sw             0
p1             0
pw             0
flower_type    0
dtype: int64

In [14]:
df=iris.copy()
# we are copying and not doing direct assignment as we might want to work on the iris data frame but dont want the main
# frame to change 
df.columns=['sepal length','sepal width','petal length','petal width','class']
df.iloc[1:4,2:4] # use iloc to access the data
# scikit focuses on modeling of data and not manipulation of data

   petal length  petal width
1           1.3          0.2
2           1.5          0.2
3           1.4          0.2

### Manipulations in Pandas

In [16]:
df.drop(0, inplace=True)
# by default inplace is false hence if we dont wanna create a copy after the changes 
# we can use inplace=True
df

     sepal length  sepal width  petal length  petal width           class
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
5             4.6          3.4           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[148 rows x 5 columns]

In [31]:
# df.drop(0, inplace=True) # this will give error now as 0 is not in the index
# hence we can conclude that label is not index and it doesnt changes after data manipulation
# so instead we can do
df.drop(df.index[0], inplace=True)
df.columns=['s1','sw','p1','pw','flower_type']
df.s1>5
df[df.flower_type=='Iris-setosa']
print(df[df.flower_type=='Iris-setosa'].describe())

              s1         sw         p1         pw
count  35.000000  35.000000  35.000000  35.000000
mean    5.045714   3.448571   1.482857   0.262857
std     0.329298   0.396582   0.182282   0.113981
min     4.400000   2.300000   1.000000   0.100000
25%     4.850000   3.200000   1.400000   0.200000
50%     5.100000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.700000   4.400000   1.900000   0.600000

In [36]:
# iloc vs loc 
print(df.head() )
print(df.iloc[0]) # by index itll start from 0
print(df.loc[14]) # by label because starting from 14

     s1   sw   p1   pw  flower_type
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
s1                     5.7
sw                     4.4
p1                     1.5
pw                     0.4
flower_type    Iris-setosa
Name: 14, dtype: object
s1                     5.7
sw                     4.4
p1                     1.5
pw                     0.4
flower_type    Iris-setosa
Name: 14, dtype: object

In [42]:
# add a row to a dataframe
print(df.tail() )

df.loc[149]=[1,2,3,4,'Iris-setosa']
print(df.tail() )

      s1   sw   p1   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa
      s1   sw   p1   pw     flower_type
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa
149  1.0  2.0  3.0  4.0     Iris-setosa