In [2]:
# pandas
pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/cb/e3/c0bc0f1b3835564f69094135de105a3def2eeb2689338a906bfc659c99d0/pandas-1.3.0-cp38-cp38-win_amd64.whl (10.2MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\bhavy\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\bhavy\appdata\roaming\python\python38\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/70/94/784178ca5dd892a98f113cdd923372024dc04b8d40abe77ca76b5fb90ca6/pytz-2021.1-py2.py3-none-any.whl (510kB)
Requirement already satisfied: six>=1.5 in c:\users\bhavy\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.0 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 21.1.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
iris = pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

### Pandas provide a large range of data structures that arre fast and flexible for data analysis
* ### python works for tabular data with heterogeneously-typed-columns as in an sql table or excel spreadsheet
* Ordered and Unordered time series data
* Arbitary Matrix Data(Homogeneously typed or hetergeneous) with row an dcolumn labels
* None of the above
* In pandas for 2D data, data frame is used

In [4]:
# Some Functions of pandas
df = iris.copy()
df.head(3)
df.columns = ['s1', 'sw', 'p1', 'pw', 'flower_type']
print(df.shape)
df.describe()
df.info()
print(df.dtypes)
df.isnull()
df.isnull().sum()  # summarise the number of null values in each column

(149, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   s1           149 non-null    float64
 1   sw           149 non-null    float64
 2   p1           149 non-null    float64
 3   pw           149 non-null    float64
 4   flower_type  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB
s1             float64
sw             float64
p1             float64
pw             float64
flower_type     object
dtype: object

s1             0
sw             0
p1             0
pw             0
flower_type    0
dtype: int64

In [5]:
df = iris.copy()
# we are copying and not doing direct assignment as we might want to work on the iris data frame but dont want the main
# frame to change
df.columns = ['sepal length', 'sepal width',
              'petal length', 'petal width', 'class']
df.iloc[1:4, 2:4]  # use iloc to access the data
# scikit focuses on modeling of data and not manipulation of data

   petal length  petal width
1           1.3          0.2
2           1.5          0.2
3           1.4          0.2

### Manipulations in Pandas

In [16]:
df.drop(0, inplace=True)
# by default inplace is false hence if we dont wanna create a copy after the changes
# we can use inplace=True
df

     sepal length  sepal width  petal length  petal width           class
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
5             4.6          3.4           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[148 rows x 5 columns]

In [6]:
# df.drop(0, inplace=True) # this will give error now as 0 is not in the index
# hence we can conclude that label is not index and it doesnt changes after data manipulation
# so instead we can do
df.drop(df.index[0], inplace=True)
df.columns = ['s1', 'sw', 'p1', 'pw', 'flower_type']
df.s1 > 5
df[df.flower_type == 'Iris-setosa']
print(df[df.flower_type == 'Iris-setosa'].describe())
# .drop command creates a new dataframe   and doesnt change the original dataframe unless inplace=True is passed

              s1         sw         p1         pw
count  48.000000  48.000000  48.000000  48.000000
mean    5.006250   3.425000   1.466667   0.245833
std     0.359317   0.383988   0.176651   0.109074
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.175000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

In [7]:
# iloc vs loc
print(df.head())
print(df.iloc[0])  # by index itll start from 0
print(df.loc[14])  # by label because starting from 14

    s1   sw   p1   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
s1                     4.7
sw                     3.2
p1                     1.3
pw                     0.2
flower_type    Iris-setosa
Name: 1, dtype: object
s1                     5.7
sw                     4.4
p1                     1.5
pw                     0.4
flower_type    Iris-setosa
Name: 14, dtype: object

In [8]:
# add a row to a dataframe
print(df.tail())

df.loc[149] = [1, 2, 3, 4, 'Iris-setosa']
print(df.tail())

      s1   sw   p1   pw     flower_type
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
      s1   sw   p1   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
149  1.0  2.0  3.0  4.0     Iris-setosa

In [11]:
df.index
# we can reset the index as well
df.reset_index()
# but this will give a few problems

     index   s1   sw   p1   pw     flower_type
0        1  4.7  3.2  1.3  0.2     Iris-setosa
1        2  4.6  3.1  1.5  0.2     Iris-setosa
2        3  5.0  3.6  1.4  0.2     Iris-setosa
3        4  5.4  3.9  1.7  0.4     Iris-setosa
4        5  4.6  3.4  1.4  0.3     Iris-setosa
..     ...  ...  ...  ...  ...             ...
144    145  6.3  2.5  5.0  1.9  Iris-virginica
145    146  6.5  3.0  5.2  2.0  Iris-virginica
146    147  6.2  3.4  5.4  2.3  Iris-virginica
147    148  5.9  3.0  5.1  1.8  Iris-virginica
148    149  1.0  2.0  3.0  4.0     Iris-setosa

[149 rows x 6 columns]

In [14]:
# the problem is that it still contains the prev indices as a new column
# so we can do this
# inplace if you want changes to happen in the same thing
df.reset_index(drop=True, inplace=True)
df.index

RangeIndex(start=0, stop=149, step=1)

In [24]:
# df.drop('s1') # error as there is no sl row
df.drop('s1', axis=1, inplace=True)  # drop column
# will not remove again

KeyError: "['s1'] not found in axis"

In [25]:
df.describe()

               sw          p1          pw
count  149.000000  149.000000  149.000000
mean     3.044295    3.785235    1.230872
std      0.441952    1.749918    0.790475
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.300000
50%      3.000000    4.400000    1.300000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    4.000000

In [26]:
del df['sw']

In [28]:
df.describe()
# deleting sw as well
# dlower type is still there it not describing as it is a string

               p1          pw
count  149.000000  149.000000
mean     3.785235    1.230872
std      1.749918    0.790475
min      1.000000    0.100000
25%      1.600000    0.300000
50%      4.400000    1.300000
75%      5.100000    1.800000
max      6.900000    4.000000

In [30]:
df = iris.copy()
df.columns = ['sepal_length', 'sepal_width',
              'petal_length', 'petal_width', 'species']
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [31]:
# how to add a column
# lets make a diff column between two columns
df['diff_pl_sw'] = df['petal_length']-df['sepal_width']

In [32]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width  diff_pl_sw
count    149.000000   149.000000    149.000000   149.000000  149.000000
mean       5.848322     3.051007      3.774497     1.205369    0.723490
std        0.828594     0.433499      1.759651     0.761292    1.979332
min        4.300000     2.000000      1.000000     0.100000   -2.900000
25%        5.100000     2.800000      1.600000     0.300000   -1.600000
50%        5.800000     3.000000      4.400000     1.300000    1.500000
75%        6.400000     3.300000      5.100000     1.800000    2.300000
max        7.900000     4.400000      6.900000     2.500000    4.300000

## HANDLING NAN ENTERIES

In [34]:
# making few values nan 
import numpy as np
df.iloc[2:4,1:3]=np.nan
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,diff_pl_sw
0,4.9,3.0,1.4,0.2,Iris-setosa,-1.6
1,4.7,3.2,1.3,0.2,Iris-setosa,-1.9
2,4.6,NaN,NaN,0.2,Iris-setosa,-1.6
3,5.0,NaN,NaN,0.2,Iris-setosa,-2.2
4,5.4,3.9,1.7,0.4,Iris-setosa,-2.2

In [35]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width  diff_pl_sw
count    149.000000   147.000000    147.000000   149.000000  149.000000
mean       5.848322     3.046939      3.806122     1.205369    0.723490
std        0.828594     0.434048      1.750351     0.761292    1.979332
min        4.300000     2.000000      1.000000     0.100000   -2.900000
25%        5.100000     2.800000      1.600000     0.300000   -1.600000
50%        5.800000     3.000000      4.400000     1.300000    1.500000
75%        6.400000     3.300000      5.100000     1.800000    2.300000
max        7.900000     4.400000      6.900000     2.500000    4.300000

In [36]:
# We have two fucntions to hanfle  np.NaN
df.dropna()  # these deletes the rows

,sepal_length,sepal_width,petal_length,petal_width,species,diff_pl_sw
0,4.9,3.0,1.4,0.2,Iris-setosa,-1.6
1,4.7,3.2,1.3,0.2,Iris-setosa,-1.9
4,5.4,3.9,1.7,0.4,Iris-setosa,-2.2
5,4.6,3.4,1.4,0.3,Iris-setosa,-2.0
6,5.0,3.4,1.5,0.2,Iris-setosa,-1.9
...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,2.2
145,6.3,2.5,5.0,1.9,Iris-virginica,2.5
146,6.5,3.0,5.2,2.0,Iris-virginica,2.2
147,6.2,3.4,5.4,2.3,Iris-virginica,2.0
148,5.9,3.0,5.1,1.8,Iris-virginica,2.1

In [38]:
# making few values nan
# second method
df.iloc[2:4, 1:3] = np.nan
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,diff_pl_sw
0,4.9,3.0,1.4,0.2,Iris-setosa,-1.6
1,4.7,3.2,1.3,0.2,Iris-setosa,-1.9
2,4.6,NaN,NaN,0.2,Iris-setosa,-1.6
3,5.0,NaN,NaN,0.2,Iris-setosa,-2.2
4,5.4,3.9,1.7,0.4,Iris-setosa,-2.2